#!/usr/bin/env bash

echo "Running .exports..."

# ================================================================
# Set Default Shell to Zsh
# ================================================================
SHELL=$(which zsh)

# ================================================================
# Folder for zsh plugins (no longer use oh-my-zsh).
# ================================================================
export ZSH_HOME="$HOME/.local/share/zsh"

# ================================================================
# Make vim the default editor in ssh sessions,
# otherwise make nvim the default editor.
# ================================================================
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='nvim'
fi

# ================================================================
# Export WEZTERM_HOME shell variable.
# Subshells, e.g. non-login shells, inherit login shell's environment.
# ================================================================
export WEZTERM_HOME="$HOME/.local/share/wezterm"

# ================================================================
# Export GHOSTTY_RESOURCES_DIR environment variable.
# Used for shell integrations.
# ================================================================
export GHOSTTY_RESOURCES_DIR="/usr/local/share/ghostty"

# ================================================================
# Set XDG_CONFIG_HOME, used by various programs.
# `$HOME/.config` is defualt in most program, but set it
# explicitly in case some programs use a different default.
# ================================================================
export XDG_CONFIG_HOME="$HOME/.config"

# ================================================================
# Directory for build files, i.e. files from `makepkg`.
# Downloaded repositories (manual, containing e.g. `PKGBUILD`): `$HOME/build/repositories`.
# Downloaded source files (automatic by `makepkg`)            : `$HOME/build/sources`.
# Resulting built packages (automatic by `makepkg`)           : `$HOME/build/packages`.
# ================================================================
export BUILD_HOME="$HOME/build"

# ================================================================
# `makepkg` configuration: `$HOME/.config/pacman/makepkg.conf`.
# Pacman configuration must be placed separately in: `/etc/pacman.conf`.
# ================================================================
export PACMAN_HOME="${XDG_CONFIG_HOME:-$HOME/.config}/pacman"

# ================================================================
# Make Google Chrome Default Browser
# ================================================================
export BROWSER=google-chrome

# ================================================================
# Set Ripgrep Configuration File
# ================================================================
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

# ================================================================
# Export variables for shell history persistence.
# ================================================================
export PROMPT_COMMAND=(history -a)
export HISTFILE="/commandhistory/.shell_history"
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# ================================================================
# Increase Bash history size. Allow 32³ entries; the default is 500.
# ================================================================
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# ================================================================
# Enable persistent REPL history for `node`.
# ================================================================
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# ================================================================
# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
# ================================================================
export PYTHONIOENCODING='UTF-8';

# ================================================================
# Prefer US English and use UTF-8.
# ================================================================
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# ================================================================
# Highlight section titles in manual pages.
# ================================================================
export LESS_TERMCAP_md="${yellow}";

# ================================================================
# Don’t clear the screen after quitting a manual page.
# ================================================================
export MANPAGER='less -X';

# ================================================================
# Set GnuPG home directory, where GnuPG suite stores its keyrings
# and private keys, and reads configurations from.
# ================================================================
export GNUPGHOME="$HOME/.gnupg";

# ================================================================
# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
# ================================================================
export GPG_TTY=$(tty);

# ================================================================
# Hide the “default interactive shell is now zsh” warning on macOS.
# ================================================================
export BASH_SILENCE_DEPRECATION_WARNING=1;
